@font-face {
    font-family: 'ELIANTO';
    src: url('../assets/fonts/Elianto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anurati';
    src: url('../assets/fonts/Anurati-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lombok';
    src: url('../assets/fonts/Lombok-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blanka';
    src: url('../assets/fonts/Blanka.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}